body {
    width: 575px;
    border: 1px solid red;
    margin: auto;
    font-family: sans-serif;
}

img {
    width: 100%;
}

.description,
.image {
    width: 49%;
    display: inline-block;
    vertical-align: middle;
    padding: 20px;
    box-sizing: border-box;
    text-align: justify;
}